@{
    ViewData["Title"] = "Movie List";
}

@model List<Movie>

<table class="table table-bordered table-striped">

    <!-- Table Header -->
    <thead class="font-weight-bold">
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>Notes</td>
    </thead>

    <!-- Table Body -->
    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <!-- Model Attributes -->
                    <td>@x.Category.CategoryName</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>

                    <!-- Buttons to Edit and Delete Movies -->
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Delete</a></td>
                </tr>
            }
    </tbody>

</table>